# esp idf configs
sdkconfig
sdkconfig.old

# build outputs
build/
out/
**.out

# IDE / configs
.vscode/
test/

# payload temps
payload/*.elf
payload/*.txt
payload/*.h


managed_components/
dependencies.lock
